
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="discussion" verbose="1" >



    <test name="my.so">
        <classes>
            <class name="my.so.profile"/>
            <class name="my.so.addnewsite"/>
            <class name="my.so.general"/>
            <class name="my.so.revenue"/>
            <class name="my.so.style"/>
            <class name="my.so.filters"/>
            <class name="my.so.moderation"/>
            <class name="my.so.engtsRules" />
            <class name="my.so.ranks"/>
        </classes>
    </test>

   <test name="ims">
        <classes>
            <class name="ims.LoginPage"/>
            <class name="ims.SignupPage"/>
            <class name="ims.WidgetPage"/>

        </classes>
    </test>
    <test name="widget">
        <classes>
            <class name="widget.headline"/>
        </classes>
    </test>
</suite>